@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme {
  --color-primary: #928e85;
  --color-onHover: #D4DD51;
 --color-røde: #991339;
  --color-offwhite: #e8e5e2;
  --font-heading: "Bebas Neue", "sans-serif";
  --font-script: "Snell Roundhand", "cursive";
  --font-text: "Helvetica", "serif";
--font-futura: "Futura", "sans-serif";
  --font-neue: "neue-haas-grotesk-display", sans-serif;
  --font-europa: "europa", sans-serif;

}

@keyframes blurInIndex {
  0% {
    filter: blur(40px);
  }
  100% {
    filter: blur(12px);
  }
}
.blur-animation-index {
  animation: blurIn 3s ease-out forwards;
}

@keyframes blurIn {
  0% {
    filter: blur(20px);
  }
  100% {
    filter: blur(4px);
  }
}
.blur-animation {
  animation: blurIn 1s ease-out forwards;
}
@media (max-width: 640px) {
  @keyframes blurIn {
    0% {
      filter: blur(10px); /* Mindre blur for mobil */
    }
    100% {
      filter: blur(2px);  /* Mindre blur for mobil */
    }
  }
}

