@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme {
  --color-primary: #928e85;
  --color-onHover: #D4DD51;
 --color-røde: #991339;
  --color-offwhite: #e8e5e2;
  --font-heading: "Bebas Neue", "sans-serif";
  --font-script: "Snell Roundhand", "cursive";
  --font-text: "Helvetica", "serif";
--font-futura: "Futura", "sans-serif";
  --font-neue: "neue-haas-grotesk-display", sans-serif;
  --font-europa: "europa", sans-serif;

}

@keyframes blurInIndex {
  0% {
    filter: blur(40px);
  }
  100% {
    filter: blur(7px);
  }
}
.blur-animation-index {
  animation: blurInIndex 2s ease-out forwards;
}



@keyframes blurInCases {
  0% {
    filter: blur(20px);
  }
  100% {
    filter: blur(5px);
  }
}
.blur-animation-cases {
  animation: blurInCases 2s ease-out forwards;
}



@keyframes blurInSingle {
  0% {
    filter: blur(15px);
  }
  100% {
    filter: blur(2px);
  }
}

.blur-animation-single {
  animation: blurInSingle 2s ease-out forwards;
}

@media (max-width: 768px) {  
  @keyframes blurInSingle {
    0% {
      filter: blur(10px);
    }
    100% {
      filter: blur(1px); 
    }
  }
}