---
import Layout from "../layouts/Layout.astro";
import Case from "../components/Case.astro";
import Header from "../components/Header.astro";
import BackgroundPic from "../components/BackgroundPic.astro";
import WhiteBox from "../components/WhiteBox.astro";
---

<Layout>
  <Header />

  <BackgroundPic img="images/art1.JPG">
    <WhiteBox>
      <div class="grid grid-cols-3">
        <div></div>
        <div></div>
        <img
          
          src="/images/w1.png"
          class="hidden
          md:inline md:w-full md:h-200 md:object-cover
          xl:h-125
          2xl:h-200"
        />
      </div>
    </WhiteBox>
  </BackgroundPic>
</Layout>
