---
import Layout from "../layouts/Layout.astro";
import Case from "../components/Case.astro";
---

<Layout>
  <div
    class="text-9xl/[1] p-24 font-heading uppercase bg-clip-text text-transparent bg-[url(/images/vic.jpg)]">
    VIctoria Løkke coded design studerende fra dmjx. Elsker hunde og hendes
    siddermakker. Er meget træt for tiden men det okay
  </div>
  <div class="grid grid-cols-3 gap-10">
    <Case img="/images/tern.png" title="SCHOOL" />
    <Case img="/images/turn.png" title="CASES" />
    <Case img="/images/patch.png" title="ABOUT" />
  </div>
</Layout>
