---
import Layout from "../layouts/Layout.astro";
import Case from "../components/Case.astro";
import Header from "../components/Header.astro";
import BackgroundPic from "../components/BackgroundPic.astro";
import WhiteBox from "../components/WhiteBox.astro";
---

<Layout>
  <BackgroundPic img="images/vic.jpg">
    <WhiteBox>
      <h1>Hej</h1>
    </WhiteBox>
  </BackgroundPic>
</Layout>
