---
import Layout from "../layouts/Layout.astro";
import Case from "../components/Case.astro";
import Header from "../components/Header.astro";
---

<Header />
<Layout>
  <div class="grid grid-cols-2 p-22 pt-40 gap-12">
    <div
      class="text-7xl/[1] font-heading uppercase bg-clip-text text-center text-transparent bg-[url(/images/vic.jpg)]">
      VIctoria Løkke coded design studerende fra dmjx. Elsker hunde og hendes
      siddermakker. Er meget træt for tiden men det okay VIctoria Løkke coded
      design studerende fra dmjx. Elsker hunde og hendes siddermakker. Er meget
      træt for tiden men det
    </div>
    <img src="images/dogcrab.png" class="w-full object-cover h-full" />
  </div>

  <div class="grid grid-cols-3 gap-10">
    <Case img="/images/tern.png" title="SCHOOL" />
    <Case img="/images/turn.png" title="CASES" />
    <Case img="/images/patch.png" title="ABOUT" />
  </div>
</Layout>
