---
import Layout from "../layouts/Layout.astro";
import Case from "../components/Case.astro";
import Header from "../components/Header.astro";
import BackgroundPic from "../components/BackgroundPic.astro";
import WhiteBox from "../components/WhiteBox.astro";
---

<Layout>
  <Header />
  <BackgroundPic img="images/vic.jpg">
    <WhiteBox>
      <div class="grid grid-cols-3">
        <h1>Hej</h1>
        <h1>Hej</h1>
        <div>
          <img src="images/vic.jpg" alt="" />
          <img src="images/vic.jpg" alt="" />
        </div>
      </div>
    </WhiteBox>
  </BackgroundPic>
</Layout>
