---
import Layout from "../layouts/Layout.astro";
import Case from "../components/Case.astro";
---

<Layout>
  <div class="w-full h-screen bg-[url(/images/turn.png)]">
    <h1 class="text-center text-white pt-40 text-9xl">PORTFOLIO</h1>
  </div>
</Layout>
