---
import CaseOverskift from "../components/CaseOverskift.astro";
import Layout from "../layouts/Layout.astro";
---

<script>
  const overskrifter = document.querySelectorAll(".overskrift");
  const billedeElement = document.getElementById("billede");
  const originalBillede = "/images/dogcrab.png";
  if (billedeElement) {
    billedeElement.src = originalBillede;

    overskrifter.forEach(overskrift => {
      overskrift.addEventListener("mouseover", function () {
        const billedeSrc = overskrift.getAttribute("data-billede");
        billedeElement.src = billedeSrc;
      });

      overskrift.addEventListener("mouseout", function () {
        billedeElement.src = originalBillede;
      });
    });
  }
</script>

<Layout>
  <div class="grid grid-cols-2 gap-4 pt-42 p-22">
    <div>
      <a href="/projekt"
        ><CaseOverskift title="MAGAZINE" img="images/magazine.png" /></a
      >
      <CaseOverskift title="PI-PLAKAT" img="images/striber.png" />
      <CaseOverskift title="KONTRAST" img="images/rød.png" />
    </div>
    <img
      id="billede"
      src="/images/dogcrab.png"
      class="w-full h-[800px] object-cover transition-all duration-1000"
    />
  </div>
</Layout>
