---
import Layout from "../layouts/Layout.astro";
import Case from "../components/Case.astro";
---

<Layout>
  <div
    class="text-[20rem] font-heading bg-clip-text text-transparent bg-[url(/images/tern.png)]">
    CASES
  </div>

  <div class="grid grid-cols-3 gap-4">
    <Case img="/images/catcrab.png" title="CUTE CAT" />
    <Case img="/images/catcrab.png" title="CUTE CAT" />
    <Case img="/images/catcrab.png" title="CUTE CAT" />
  </div>
</Layout>
