---
import Layout from "../layouts/Layout.astro";
import Case from "../components/Case.astro";
---

<Layout>
  <div class="grid grid-cols-2">
    <Case img="/images/dogcrab.png" title="CUTE DOG" />

    <Case img="/images/dogcrab.png" title="CUTE CAT" />
  </div>
</Layout>
