---
import CaseOverskift from "../components/CaseOverskift.astro";
import Layout from "../layouts/Layout.astro";
---

<script>
  const overskrifter = document.querySelectorAll(".overskrift");
  const billedeElement = document.getElementById("billede");
  const originalBillede = "/images/dogcrab.png";
  if (billedeElement) {
    billedeElement.src = originalBillede;

    overskrifter.forEach(overskrift => {
      overskrift.addEventListener("mouseover", function () {
        const billedeSrc = overskrift.getAttribute("data-billede");
        billedeElement.src = billedeSrc;
      });

      overskrift.addEventListener("mouseout", function () {
        billedeElement.src = originalBillede;
      });
    });
  }
</script>

<Layout>
  <div class="relative w-full h-screen overflow-hidden group">
    <img
      id="billede"
      src="/images/dogcrab.png"
      class="w-full h-screen object-cover transition-all duration-1000"
    />

    <div
      class="text-center pt-30 absolute inset-0 flexitems-centerjustify-centertext-9xlfont-heading text-white">
      <CaseOverskift title="JA DET GØR" img="images/striber.png" />
      <CaseOverskift title="HALLEJUJA" img="images/rød.png" />
    </div>
  </div>
</Layout>
