---
import CaseOverskift from "../components/CaseOverskift.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<script>
  const overskrifter = document.querySelectorAll(".overskrift");
  const billedeElement = document.getElementById("billede");
  const originalBillede = "/images/dogcrab.png";
  let currentBillede = originalBillede;

  const infoElement = document.getElementById("info");
  const originalInfo = "Beskrivlelskek";
  let currentInfo = originalInfo;

  if (infoElement) {
    infoElement.innerText = originalInfo; // Initial tekst
  }

  if (billedeElement) {
    billedeElement.src = originalBillede;

    overskrifter.forEach(overskrift => {
      overskrift.addEventListener("mouseover", function () {
        const billedeSrc = overskrift.getAttribute("data-billede");
        currentBillede = billedeSrc;
        billedeElement.src = billedeSrc;

        const infoText = overskrift.getAttribute("data-info");
        currentInfo = infoText;
        infoElement.innerText = infoText;
      });

      overskrift.addEventListener("mouseout", function () {
        billedeElement.src = currentBillede;
        infoElement.innerText = currentInfo;
      });
    });
  }
</script>
<Header />
<Layout>
  <div class="grid grid-cols-2 gap-6 pt-42 pl-50 pr-50">
    <img
      id="billede"
      src="/images/dogcrab.png"
      class="w-full h-[800px] object-cover"
    />

    <div class="">
      <div id="info" class="pt-10 text-7xl font-script">tester</div>

      <a href="/projekt"
        ><CaseOverskift
          title="Magasin cover"
          img="images/magazine.png"
          beskrivelse="Her er min info"
        /></a
      >
      <CaseOverskift
        title="Pi-plakat"
        img="images/striber.png"
        beskrivelse="Her er anden info"
      />
      <CaseOverskift
        title="Kontrast plakat"
        img="images/rød.png"
        beskrivelse="Her 333 info"
      />
      <CaseOverskift
        title="Eksamens projekt"
        img="images/turn.png"
        beskrivelse="Her wow info"
      />
      <CaseOverskift
        title="Farvelære"
        img="images/strik.png"
        beskrivelse="Her strik info"
      />
      <CaseOverskift
        title="Wikipedia"
        img="images/catcrab.png"
        beskrivelse="Her sød kat info"
      />
      <CaseOverskift
        title="Axi-draw plots"
        img="images/chess.png"
        beskrivelse="Her axi info"
      />
    </div>
  </div>
</Layout>
