---
import Layout from "../layouts/Layout.astro";
import CaseOverskift from "../components/CaseOverskift.astro";
import WhiteBox from "../components/WhiteBox.astro";
import BackgroundPic from "../components/BackgroundPic.astro";
import Header from "../components/Header.astro";
import Header2 from "../components/Header2.astro";
---

<script>
  import { gsap } from "gsap";

  gsap.from(".overskrift", {
    y: 400,
    opacity: 0,
    duration: 1,
    stagger: 0.1,
  });
</script>

<script>
  const overskrifter = document.querySelectorAll(".overskrift");
  const billedeElement = document.getElementById("billede");
  const originalBillede = "/images/fish_cases.png";
  let currentBillede = originalBillede;

  const infoElement = document.getElementById("info");
  const originalInfo = " ";
  let currentInfo = originalInfo;

  if (infoElement) {
    infoElement.innerText = originalInfo; // Initial tekst
  }

  if (billedeElement) {
    billedeElement.src = originalBillede;

    overskrifter.forEach(overskrift => {
      overskrift.addEventListener("mouseover", function () {
        const billedeSrc = overskrift.getAttribute("data-billede");
        currentBillede = billedeSrc;
        billedeElement.src = billedeSrc;

        const infoText = overskrift.getAttribute("data-info");
        currentInfo = infoText;
        infoElement.innerText = infoText;
      });

      overskrift.addEventListener("mouseout", function () {
        billedeElement.src = currentBillede;
        infoElement.innerText = currentInfo;
      });
    });
  }
</script>

<Layout>
  <Header />
  <BackgroundPic img="images/fish_cases.png">
    <WhiteBox>
      <div
        class="md:grid md:grid-cols-2 md:gap-6 md:p-10
      xl:ml-30 xl:mr-30
      2xl:ml-0 2xl:mr-0">
        <img
          id="billede"
          src="/images/fish_cases.png"
          class="hidden
          md:inline md:w-full md:h-200 md:object-cover
          xl:h-125
          2xl:h-200"
        />
        <div>
          <div
            class="blur-animation font-heading font-extrabold uppercase text-center
        text-[10rem]
        md:text-left md:text-[12rem]
        xl:-mt-10
        2xl:-mt-20 2xl:text-[20rem]">
            cases
          </div>

          <div
            class="p-2 mt-[20px]
          md:p-0 md:relative
          xl:mt-[-60px]
          2xl:mt-[-65px]">
            <CaseOverskift
              title="Ready Set Spaghetti"
              img="images/f2.png"
              beskrivelse="visuel identity & asset geneator, p5.js"
            />
            <CaseOverskift
              title="Tommelise's island"
              img="images/blender.png"
              beskrivelse="3D model & design, blender"
            />

            <a href="/projekt"
              ><CaseOverskift
                title="The Trolling Clones"
                img="images/maga.png"
                beskrivelse="visuel identity & photography, illustrator"
              /></a
            >
            <a href="/projekt">
              <CaseOverskift
                title="Pi-plakat"
                img="images/piplakat.jpg"
                beskrivelse="graphic design, processing"
              />
            </a>

            <a href="/projekt">
              <CaseOverskift
                title="AxiDraw: Blue Waves"
                img="images/w.png"
                beskrivelse="graphic design, p5.js"
              />
            </a>

            <CaseOverskift
              title="Contrast Poster"
              img="images/fish.png"
              beskrivelse="visuel design, illustrator"
            />

            <div
              id="info"
              class="font-text font-light
            text-xl mt-10
            2xl:text-2xl 2xl:mt-20">
            </div>
          </div>
        </div>
      </div>
    </WhiteBox>
  </BackgroundPic>
</Layout>
