---
import Layout from "../layouts/Layout.astro";
import Case from "../components/Case.astro";
---

<Layout>
  <div class="grid grid-cols-2">
    <div
      class="sticky top-0 h-screen text-[20rem] font-heading bg-clip-text text-transparent bg-[url(/images/tern.png)]">
      CASES
    </div>

    <div class="">
      <Case img="/images/catcrab.png" title="CUTE CAT" />
      <Case img="/images/catcrab.png" title="CUTE CAT" />
      <Case img="/images/catcrab.png" title="CUTE CAT" />
    </div>
  </div>
</Layout>
