---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
  <Header />

  <div
    class="overflow-x-hidden w-full h-screen bg-[url(/images/patch.png)] flex justify-center items-center
    p-10
    xl:p-30
    2xl:p-50">
    <div class="grid gap-8 justify-center
    xl:h-full xl:gap-5">
      <div
        class="bg-white bg-no-repeat drop-shadow-lg relative justify-center flex items-center
        h-50 w-80
       
        xl:h-60 xl:w-100
        2xl:h-70 2xl:w-120">
        <div class="absolute inset-0">
          <h1
            class="font-neue font-extrabold
            text-[5rem] pt-[85px] pl-[125px] leading-15
            xl:text-[6rem] xl:pt-[95px] xl:pl-[166px] xl:leading-20
            2xl:text-[7rem] 2xl:pt-[109px] 2xl:pl-[206px] 2xl:leading-25">
            løkke
          </h1>
          <h1
            class="font-neue font-extrabold leading-25
          text-[5rem] -mt-6
          xl:text-[6rem] xl:-mt-5
           2xl:text-[7rem]">
            victoria
          </h1>
        </div>
      </div>

      <div
        class="bg-white bg-no-repeat drop-shadow-lg relative flex justify-center items-center
        h-50 w-80
        xl:h-60 xl:w-100
        2xl:h-70 2xl:w-120">
        <div class="absolute inset-0 flex justify-center items-center">
          <div class="grid grid-cols-3
          gap-5
          2xl:gap-10">
            <div class="text-right font-neue font-extrabold">
              <p class="mb-4 text-xl xl:text-2xl xl:mb-7">hello i'm</p>

              <p>insta</p>
              <p>located</p>

              <p class="mb-3">mobile</p>
              <p class="text-xs">mail</p>
            </div>

            <div class="text-left font-neue font-extrabold col-span-2">
              <p class="mb-4 text-xl xl:text-2xl xl:mb-7">victoria løkke</p>
              <p>@victorialoekke</p>
              <p>Copenhagen, Denmark</p>
              <p class="mb-3">24 22 06 60</p>
              <p class="text-xs">Victoria.loekke@hotmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
