---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout>
  <Header />

  <div class="overflow-x-hidden w-full h-screen bg-[url(/images/patch.png)]">
    <div class="h-full flex justify-center items-center">
      <div
        class="bg-[url(/images/visit.png)] h-80 w-120 bg-no-repeat drop-shadow-lg">
        <div class="text-center font-mono mt-25">
          <h1>
            Victoria Løkke Madsen <br /><br /> tel: 24 22 06 60 <br /><br
            />mail: Victoria.loekke@hotmail.com
          </h1>
        </div>
      </div>
    </div>
  </div>
</Layout>

