---
import Layout from "../layouts/Layout.astro";
import Case from "../components/Case.astro";
import { getCollection } from "astro:content";
const blogPosts = await getCollection("blog");
---

<Layout>
  <div class=" pt-20">
    <h1 class="text-[18rem] font-extrabold text-center blur-md">PORTFOLIO</h1>

    <div class="grid grid-cols-3">
      <img src="/images/vic.jpg" class="w-full h-150 col-start-2" />
    </div>
  </div>

</Layout>
