---
import Layout from "../layouts/Layout.astro";
import Case from "../components/Case.astro";
---

<Layout>
  <div class="grid grid-cols-2 gap-4">
    <Case
      img="https://picsum.photos/id/237/300/300"
      title="yolo"
      text="skrt slay"
    />
    <Case
      img="https://picsum.photos/id/456/200/300"
      title="noget nyt"
      text="mere noget nyt"
    />
  </div>
</Layout>
