---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const blogPosts = await getCollection("blog");
---

<Layout>
  <div class="pt-6">
 
    <div
      class="text-[20rem]/[1] pt-4 blur-animation font-heading bg-clip-text text-transparent bg-[url(/images/vic.jpg)]">
      VICTORIAS PORTFOLIO 2025
    </div>
  </div>
</Layout>
