---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="relative w-full h-screen overflow-hidden bg-[url(/images/art.JPG)]">
    <div
      class="relative w-[1400px] backdrop-blur-lg h-[850px] left-1/2 top-72 transform -translate-x-1/2 -translate-y-1/2 bg-offwhite">
      <div
        class="blur-animation font-heading text-center absolute top-70 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-[31rem] font-extrabold uppercase blur-md">
        Victoria
      </div>

      <div class="relative z-10 mt-60">
     
        <div class="grid grid-cols-3 pt-70">
          <a href="/casesv2">
            <h1 class="text-center text-6xl pt-100 uppercase font-extrabold ">
              Cases
            </h1></a
          >

          <img src="/images/art.JPG" class="w-full h-full col-start-2" /><a
            href="/about">
            <h1 class="text-center text-6xl pt-100 uppercase font-extrabold">
              About
            </h1></a
          >
        </div>
        
      </div>
    </div>
  </div>
</Layout>
