---
import Layout from "../layouts/Layout.astro";
import Case from "../components/Case.astro";
import IndexNav from "../components/IndexNav.astro";
---

<script>
  import { gsap } from "gsap";

  gsap.from(".box", {
    y: 400,
    opacity: 0,
    duration: 1,
  });
</script>

<Layout>
  <div class="overflow-x-hidden p-25 w-full h-screen bg-[url(/images/art.JPG)]">
    <div class="h-full flex justify-center items-center">
      <div
        class="no-scrollbar bg-offwhite p-4 w-full h-full overflow-y-auto shadow-lg">
        <div
          class="-mt-25 blur-animation-index font-heading text-center text-[31rem] font-extrabold uppercase blur-md">
          Victoria
        </div>

        <div class="relative -mt-90 grid grid-cols-3">
          <IndexNav text="Cases" link="/casesv4" />

          <img src="/images/art.JPG" class="w-full h-full col-start-2" />

          <IndexNav text="About" link="/about" />

          <Case
            img="https://media.giphy.com/media/L0wt2q0qBuCRaWGOsa/giphy.gif?cid=790b7611a0ysffnzodh10hzi8coadfmq5yaii044dahzrrjr&ep=v1_gifs_search&rid=giphy.gif&ct=g"
            title="SCHOOL"
          />

          <div class="col-start-3">
            <Case
              img="https://media.giphy.com/media/11xBk5MoWjrYoE/giphy.gif?cid=ecf05e47ri7x46ts1f5ao99oaq72dkeo18weut8uw5neb0vi&ep=v1_gifs_search&rid=giphy.gif&ct=g"
              title="ABOUT"
            />
          </div>

          <img src="images/dogcrab.png" alt="" />

          <img src="images/dogcrab.png" alt="" />

          <img src="images/dogcrab.png" alt="" />

          <img src="images/dogcrab.png" alt="" />

          <img src="images/dogcrab.png" alt="" />

          <img src="images/dogcrab.png" alt="" />

          <img src="images/dogcrab.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</Layout>
