---
import Layout from "../layouts/Layout.astro";
import Case from "../components/Case.astro";
---

<script>
  import gsap from "gsap";
  console.log("HEJ");
  gsap.to(".dog", { rotation: 360, duration: 6 });
</script>

<Layout>
  <div class="text-center p-4 grid grid-cols-2 gap-4">
    <img src="/images/dogcrab.png" class="dog blur-xs" alt="" />
    <img src="/images/dogcrab.png" alt="" />
  </div>

  <div class="grid grid-cols-2 gap-4">
    <Case
      img="https://picsum.photos/id/237/300/300"
      title="yolo"
      text="skrt slay"
    />
    <Case
      img="https://picsum.photos/id/456/200/300"
      title="noget nyt"
      text="mere noget nyt"
    />
  </div>
  <div class="bg-primary h-22"></div>
</Layout>
