---
const { title, img, beskrivelse } = Astro.props;
---

<h1
  class="overskrift
        text-3xl
        leading-15
       uppercase
        font-extrabold
        cursor-pointer
        hover:text-onHover
        "
  data-billede={img}
  data-info={beskrivelse}>
  {title}
</h1>
