---
const { img, title } = Astro.props;
---

<div class="relative w-full h-150 mt-50 overflow-hidden group">
  <img
    src={img}
    class="w-full h-150 p-6 object-cover blur-none transition-all duration-500 group-hover:blur-xs"
    alt=""
  />
  <div
    class="absolute inset-0 flex items-center justify-center text-9xl font-heading text-white blur-xs group-hover:blur-none transition-all duration-500">
    {title}
  </div>
</div>
