---
const { img, title } = Astro.props;
---

<div class="relative w-full h-120 mt-50 mb-10 overflow-hidden group
2xl:h-150">
  <img
    src={img}
    class="w-full h-120 p-4 object-cover blur-none transition-all duration-500 group-hover:blur-xs
    2xl:h-150"
    alt=""
  />
  <div
    class="absolute inset-0 flex items-center justify-center text-9xl font-heading text-white blur-xs group-hover:blur-none transition-all duration-500">
    {title}
  </div>
</div>
