---
const { title, img, beskrivelse } = Astro.props;
---

<h1
  class="overskrift font-extrabold font-neue  cursor-pointer hover:text-onHover
        text-2xl leading-15
        xl:leading-10
        2xl:text-3xl 2xl:leading-15"
  data-billede={img}
  data-info={beskrivelse}>
  {title}
</h1>
