---
const { img, title } = Astro.props;
---

<div class="relative p-4">
  <img
    src={img}
    class="w-full blur-md hover:blur-none transition-all duration-1000"
    alt=""
  />
  <h1
    class="text-5xl font-black absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
    {title}
  </h1>
</div>
