---
const { title, img } = Astro.props;
---

<h1
  class="overskrift
        text-5xl
        font-bold
       
        cursor-pointer
        hover:text-onHover"
  data-billede={img}>
  {title}
</h1>
