---
import Logo from "./Logo.astro";
---

<button
  id="toggleButton"
  class="fixed z-100 h-20 w-20 bottom-10 right-10 text-5xl font-heading rounded-full bg-onHover"
  >☰</button
>

<ul
  id="menu"
  style="display: none;"
  class="bg-blue-500 z-10 fixed text-center right-0 bottom-0 w-60 h-120 pt-15 pb-20">
  <li class="font-heading text-5xl p-4">
    <a href="/">Home</a>
  </li>
  <li class="font-heading text-5xl p-4"><a href="/cases">Cases</a></li>
  <li class="font-heading text-5xl p-4"><a href="/about">About</a></li>
  <li class="font-heading text-5xl p-4"><a href="/contact">Contact</a></li>
</ul>

<script>
  document
    .getElementById("toggleButton")
    .addEventListener("click", function () {
      const menu = document.getElementById("menu");
      if (menu.style.display === "none") {
        menu.style.display = "block";
      } else {
        menu.style.display = "none";
      }
    });
</script>
