---
const { text, link } = Astro.props;
---

<a href={link}>
  <h1
    class="box font-extrabold hover:text-onHover bg-offwhite text-center text-2xl pt-2 font-neue
  md:text-4xl md: pt-6
xl:text-5xl xl:mt-65 xl:p-10
  2xl:text-6xl 2xl:mt-80 2xl:p-10">
    {text}
  </h1></a
>
