---
const { text, link } = Astro.props;
---

<div class="sticky -top-85 z-10">
  <a href={link}>
    <h1
      class="box text-center text-6xl mt-80 p-10 uppercase font-extrabold bg-offwhite hover:text-onHover">
      {text}
    </h1></a
  >
</div>
