---
const { text, link } = Astro.props;
---

<div class="sticky -top-90 z-10">
  <a href={link}>
    <h1
      class="box text-center font-futura text-6xl pt-100 uppercase font-extrabold">
      {text}
    </h1></a
  >
</div>
