---

---

<nav class="">
  <ul class="text-right text-4xl font-bold">
    <li class="hover:text-onHover">
      <a href="/cases"> Cases </a>
    </li>
    <li class="hover:text-onHover"><a href="/about">About</a></li>
  </ul>
</nav>
