---

---

<div class="h-full flex justify-center items-center overflow-x-hidden">
  <div
    class="bg-offwhite p-4 w-full h-full overflow-y-auto overflow-x-hidden shadow-lg no-scrollbar">
    <slot />
  </div>
</div>
